//default variables
$form-text-padding-left: 46px !default;
$form-input-background-color: "#eee" !default;
$form-input-hint-transition-duration: 1s !default;
$form-input-warning-color: #FFC0CB !default;
$form-hint-warning-color: #FF0000 !default;
$form-hint-color: #999999 !default;
